/* region header */

.header-section {
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 0 rgba(0, 0, 1, 0.1);
    background-color: rgb(40, 37, 37);
}
.header {
    max-width: 1920px;
    width: 100%;
}
header {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.logo-img {
    width: 300px;
    padding: 10px;
}

/* region main side */


/* region footer */
.footer-section {
    display: flex;
    justify-content: center;
    box-shadow: 0 2px 0 rgba(0, 0, 1, 0.1);
    background-color: rgb(40, 37, 37);
}
.footer {
    max-width: 1920px;
    width: 100%;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-logo-img {
    width: 150px;
    padding: 10px;
}
h3 {
    font-size: 14px;
    color: white;
}
